@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@700&family=Lato:wght@700&family=Martel:wght@700&family=Montserrat:wght@700&family=Open+Sans:wght@700&family=Permanent+Marker&family=Playfair+Display:wght@700&family=Roboto:wght@700&family=Volkhov:wght@700&family=Yeseva+One&display=swap');
@import url("https://use.fontawesome.com/releases/v5.14.0/css/all.css");
/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  overflow-x: hidden;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* /////////////// Begin theme styles ///////////////////// */

:root {
  --font-base: "Rubik", sans-serif;
  --font-display: "Roboto", sans-serif;
  --color-dark: #0b0C10;
  --color-light: #C5C6C7;
  --color-primary: #66FCF1;
  --color-secondary: #45A29E;
  --color-tertiary: #1F2833;
  --color-quaternary: ;
  --size-base: 1rem;
  --size-300: calc(var(--size-base) * 0.75);
  --size-400: calc(var(--size-base) * 1);
  --size-500: calc(var(--size-base) * 1.33);
  --size-600: calc(var(--size-base) * 1.77);
  --size-700: calc(var(--size-base) * 2.36);
  --size-800: calc(var(--size-base) * 3.15);
  --size-900: calc(var(--size-base) * 4.2);
  --size-major: calc(var(--size-base) * 5.6);
  --flow-space: var(--size-600);
  --vertical-padding: var(--size-900);
  --border-width-1: var(--size-400);
  --border-width-2: 3px;
  --underline-thin: 2px;
  --underline-thick: 5px;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-dark);
  color: var(--color-light);
  line-height: 1.5;
  font-size: var(--size-400);
  font-family: var(--font-base);
}

h1 {
  font-size: clamp(var(--size-800), calc(1rem + 16vw), var(--size-major));
}

h2 {
  font-size: clamp(var(--size-600), calc(1rem + 4vw), var(--size-700));
  font-weight: 300;
  color: var(--color-secondary);
  padding-bottom: 1rem;
}

/* h3 {
  font-size: clamp(var(--size-500), calc(1rem + 2vw), var(--size-600));
}

h4 {
  font-size: clamp(var(--size-400), calc(1rem + 1.5vw), var(--size-500));
} */

a {
  text-decoration: none;
  color: var(--color-primary);
}

a:hover {
  text-decoration: underline;
}

header {
  display: grid;
  place-content: center;
  text-align: center;
  color: var(--color-primary);
  padding: 2rem;
}

header div {
  margin: 2rem;
  display: grid;
  place-content: center;
  margin: auto;
}

header a {
  padding: 1rem;
}

.customBtn {
  border: 1px solid var(--color-primary);
  border-radius: 5px;
}
.fa-play {
  background: none;
  color: var(--color-primary);
  padding-left: 1em;
}
.customBtn:hover i, .customBtn:hover {
  color: var(--color-dark);
  background: var(--color-primary);
  text-decoration: none;
}

a[href="playlist_mock.html"] {
  font-size: var(--size-300);
}

/* ////// Navigation bar ////// */

nav {
  background-color: var(--color-dark);
  border-bottom: 1px solid var(--color-secondary);
  height: auto;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  padding: 1em;
  text-transform: uppercase;
}

nav a {
  color: var(--color-secondary);
}

nav a:hover, .active {
  border-bottom: 4px solid var(--color-secondary);
  padding-bottom: 1em;
  color: var(--color-primary);
  text-decoration: none;
}

p {
  font-family: var(--font-display);
  max-width: 45ch;
}

#about, #documentation, #credits {
  display: grid;
  place-content: center;
  padding: 2rem;
  scroll-padding: 3rem 0 0 0;
}

#credits p {
  padding: 0;
  margin: 0;
  max-width: 75ch;
}

#credits div {
  padding-bottom: 1rem;
}

.full-page {
  min-height: 100vh;
}

.no-border {
  border: none;
}

.instructions {
  display: flex;
  place-content: center;
  text-align: left;
}

.instructions ol {
  color: var(--color-light);
  padding: var(--size-700);
  margin: var(--size-700);
  font-weight: 600;
  font-size: var(--size-500);
}


#about h3 {
  text-align: center;
}


.colors-container {
  display: flex;
  flex-flow: row wrap;  
  place-content: center; 
}

.colors-container div {
  padding: var(--size-700);
  text-align: center;
}

.warm {
  text-shadow: 0px 3px 5px #FF4510;
}

.cool {
  text-shadow: 0px 3px 5px var(--color-secondary);
}

.black{
  color: black;
  /* text-shadow: 0px 3px 5px white; */
  background: white;
}

.white {
  /* text-shadow: 0px 3px 5px white; */
  color: white;
  background: black;
}
  
.doc-layout {
  list-style: none;
}

.doc-layout li {
  padding: var(--size-700);
  font-family: var(--font-base);
  font-size: var(--size-700);
  font-weight: 600;
}


/* //////////////// Buttons ////////////////// */
.myButton {
  color: var(--color-secondary);
  outline: none;
  font-size: var(--size-400);
  padding: 12px; 
  font-family: var(--font-display);
  background-color: transparent;
  margin-right: 12px;
  border-radius: 10px;
  /* box-shadow: rgba(255, 255, 255, 0.38) 5px 5px 15px 5px inset; */
  border: 1px solid var(--color-secondary);
  display: inline-block;
}

#topBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 1rem; /* Some padding */
  font-size: var(--size-500); /* Increase font size */
}

.myButton:hover, #topBtn:hover i {
  background-color: var(--color-secondary); /* Add a dark-grey background on hover */
  color: var(--color-dark);
}

.fa-caret-up {
  color: var(--color-secondary);
  padding-left: 1rem;
}

/* ///////////////// playlist cards //////////////// */

#root {
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-flow: column wrap;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem;
  background: var(--color-dark);
  /* box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.1); */
  border: 1px solid grey;
  border-radius: 12px;
  overflow: hidden;
  transition: all .2s linear;
}
.card:hover {
  /* box-shadow: 2px 8px 45px rgba(0, 0, 0, 0.15); */
  border: 1px solid grey;
  background: var(--color-tertiary);
  transform: translate3D(0, -2px, 0);
  /* -webkit-box-shadow: 5px 5px 15px 5px #66FCF1;  */
/* box-shadow: 5px 5px 15px 5px #66FCF1; */
}

.card-grid {
  display: grid;
  grid-template-rows: auto;
  margin-left: 2rem;
}

.card-title, .card-owner, .card-description {
  text-align: left;
}

.card-img {
  display: block;
  max-width: 100%;
  height: 10vw;
  aspect-ratio: 1 / 1;
  grid-row: 1 / span 2;
}

.card-title {
  font-size: clamp(
    var(--size-400),
    12vw - 5rem,
    var(--size-900)
  );
  color: var(--color-light);
  grid-row: 1;
  grid-column: 2;
}

.card-owner {
  font-family: var(--font-base);
  font-weight: 400;
  grid-column: 2;
  grid-row: 2;
  color: gray;
}

@media screen and (min-width: 600px) {
  .card {
    flex: 1 1 calc(50% - 2rem);
  }
}

@media screen and (min-width: 900px) {
  .card {
    flex: 1 1 calc(33% - 2rem);
  }
}

/* ////// generator & canvas /////// */

.generator {
  display: grid;
  place-content: center;
}

.generator-container {
  display: grid;
}
@media screen and (min-width: 900px) {
  .generator-container {
    grid-template-columns: 1fr 2fr;
  }
}

#canvas, #bgcanvas {
  width: 300;
  height: 300;
  /* border: 1px solid black; */
  /* box-shadow: 2px 8px 45px rgba(0, 0, 0, 0.15); */
  margin: var(--size-700);
}
@media screen and (min-width: 900px) {
  #canvas, #bgcanvas {
    grid-column: 1;
  }
}

.parent {
  position: relative;
}
.child {
  position: absolute;
  top: 0;
  left: 0;
}


.tools-container {
  display: flex;
  flex-flow: column wrap;
  /* max-width: 50%; */
  margin: var(--size-700);
}
@media screen and (min-width: 900px) {
  .tools-container {
    grid-column: 2;
  }
}

.pxCounter {
  margin: 0 2em;
  /* text-align: center; */
  display: inline;
}

select {
	font-size: 30px;
}

.icons {
  opacity: 0;
  width: 0;
  margin: 0;
  padding: 0;
}

.fa-file-download, .fa-file-upload {
  padding-left: 12px;
}

.fa-align-left, .fa-align-center, .fa-align-right {
  padding: 12px;
  background: white;
  color: var(--color-dark);
  border: 2px solid white;
}

.icons + i {
cursor: pointer;
}

.icons:checked + i, .icons + i:hover {
  color: white;
  background: none;
  border: 2px solid white;
}

.gen-layout {
  margin-bottom: 1rem;
}
